#u{
    display: flex;
    flex-direction: row;
    margin: 0px 0px 10px 1000px;
    text-align: end;
    text-decoration: none;
    ba
    
}
#a{
    color: green;
    margin: 10px 10px 10px 10px;

} 
#b{
    color:green; 
    margin: 10px 5px 0px 10px;
}
#c{
    color:green;
}